* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-size: 1rem;
  font-weight: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 700px;
  width: min(100vw, 1200px);
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 9fr 3fr;
  gap: 1rem;
}

#current, #forecast, #controls, #additional-details {
  border-radius: 0.5rem;
}

#current {
  grid-row: 1 / 3;
  background-color: blue;
}

#forecast {
  grid-row: 3;
  grid-column: 1 / 3;
  background-color: red;  
}

#controls {
  background-color: yellow;
}

form {
  flex: 1;
}

#controls {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#search-bar {
  position: relative;
}

input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

#search-button {
  outline: none;
  border: none;
  background-color: white;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

#search-button > img {
  display: block;
  height: 1.25rem;
}

#settings-button {
  outline: none;
  border: none;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

#settings-button > img {
  display: block;
  height: 100%;
}
#additional-details {
  background-color: green;
}

@media only screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
  }

  main {
    display: flex;
    width: min(100vw, 550px);
    flex-direction: column; 
  }

  #controls {
    order: -1;
  }

  #current {
    height: 35rem;
  }

  #additional-details {
    height: 25rem;
  }

  #forecast {
    height: 15rem;
  }
}